*{
  margin: 0;
  padding: 0;
}
button{
  padding: 3px;
  margin: 3px;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.card{
  border: 2px solid grey;
  background-color: rgb(245, 242, 242);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.card h1{
  letter-spacing: 1px;
}
img{
  width: 120px;
  height: 150px;
}
